/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configurações gerais */
body {
    font-family: 'Inter', sans-serif;
    background-color: #f5f8fb;
    color: #333;
}

/* Header */
header {
    background-color: white;
    padding: 2px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 100%;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 120px;
    margin-left: 20px;
}

/* Nome do site */
.site-name {
    font-size: 1.8rem;
    font-weight: 700;
    margin: auto;
}

/* Links de navegação */
.nav-links {
    display: flex;
    gap: 20px;
    margin-left: auto;
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.1rem;
    transition: color 0.3s;
    margin-right: 50px;
}

.nav-links a:hover {
    color: #00c853;
}

.auth-container {
    display: flex;
    align-items: center;
}

/* Ajustes no user-box */
.user-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center; /* Centro verticalmente */
}

.user-box span {
    font-size: 0.95rem;
    margin-bottom: 4px; /* Ajusta a altura do "Bem-vindo" */
}

/* Botão de autenticação */
.auth-btn {
    background-color: #00c853;
    color: white;
    padding: 5px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.auth-btn:hover {
    background-color: #00b44b;
}

/* Seção Introdução */
.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    gap: 10px;
}

.intro-text {
    max-width: 500px;
}

.intro-text h1 {
    font-size: 2.2rem;
    margin-bottom: 50px;
    color: #333;
    font-weight: 700;
}

.intro-text p {
    font-size: 1.125rem;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.6;
}


.btn-comecar {
    background-color: #00c853;
    color: white;
    padding: 14px 32px;
    border-radius: 4px;
    font-size: 1rem;
    text-decoration: none;
    transition: background 0.3s;
}

.btn-comecar:hover {
    background-color: #00b44b;
}

/* Imagem da introdução */
.intro-image img {
    width: 90%;
    height: auto;
}

/* Footer */
footer {
    text-align: center;
    padding: 30px 20px;
    font-size: 0.9rem;
    color: #777;
    margin-top: 50px;
}
