/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configurações gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f8fb; /* Cor de fundo mais leve e compatível com a principal */
    color: #333; /* Cor de texto mais neutra */
    padding: 30px;
}

h1, h2 {
    color: #333; /* Cor de título mais compatível */
    margin-bottom: 20px;
    text-align: center;
}

form {
    background-color: #ffffff; /* Fundo claro para contrastar com o fundo escuro */
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto 40px auto;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    background-color: #3a3a6a; 
    color: #ffffff;
}

input::placeholder {
    color: #cccccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #00c853; /* Cor do botão mais próxima da principal */
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00b44b;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    color: #333;
    border-radius: 8px;
    overflow: hidden;
}

th,
td {
    border: 1px solid #00c853; /* Bordas mais claras em verde */
    padding: 10px;
    text-align: left;
}

th {
    background-color: #00c853;
    color: white;
}

/* Responsividade */
@media (max-width: 600px) {
    body {
        padding: 15px;
    }

    form {
        width: 100%;
    }
}
