/* Estilizando o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color:#d5e0b5;  /* Cor de fundo clara */
    color: #333;  /* Cor do texto */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column; /* Garante que os itens (título e formulário) fiquem na vertical */
}

/* Estilizando o título */
h1 {
    color:#a5c3a7;  /* Cor do título */
    font-size: 2rem;
    margin-bottom: 20px; /* Adiciona um espaço abaixo do título */
}

/* Estilizando o formulário */
form {
    background-color:#a5c3a7;  /* Cor de fundo branca */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(245, 242, 242, 0.1);
    width: 300px;
    text-align: center;
}

/* Estilizando os labels */
label {
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

/* Estilizando os campos de entrada */
input[type="text"], input[type="password"] {
    width: 100%;
    padding: center 7px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
}

/* Estilizando o botão */
button[type="submit"] {
    background-color: #4CAF50;  /* Cor de fundo verde */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
}

/* Alterando a cor do botão ao passar o mouse */
button[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilizando o link "Cadastrar" */
a {
    text-decoration: none;
    color: #4CAF50;
}

a:hover {
    color: #45a049;
}

/* Estilizando a mensagem de erro, caso exista */
.error {
    color: red;
    font-size: 1rem;
    margin-top: 10px;
}
